<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Movies List</title>
</head>

<body>
    <h1>Movies List</h1>
    <ul>
        {% for m in data %}
        <li>
            <h3> {{ m["title"] }} </h3>
            <ul>
                {% for p in m["people"] %}
                <li> {{ p }} </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>

</html>